@import "tailwindcss";

@theme{
  --color-white:rgb(255, 255, 255);
  --color-white2:rgb(242, 240, 241);
  --color-gray:rgb(204, 204, 204);
  --color-black:rgb(0, 0, 0);
  --color-textGray:rgb(153, 153, 153);
  --color-price:rgb(242, 78, 30);
}


.navs ul li a{
    @apply text-[1.1rem]  hover:text-price  hover:border-b-2
}

.navs ul li{
    
    @apply max-md:border-b p-2
}

.activeLink{
    @apply  text-green-900 border-b-2
}